{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block page_content %}

<div class="row">

  <div class="col-sm-3"></div>

  <div class="col-sm-6">

    <div class="page-header">
      <h1>Oops!</h1>
    </div>

    <p>Uh oh. We were unable to verify your Lexis Advance account. Usually this happens when your
    Lexis usename/password combination was incorrectly entered. Make sure you entered the right
    stuff and <a href="{{ url_for('auth.register') }}">try again</a> in a few minutes.<p>

    <p>If you're positive your Lexis credentials are correct, there might be an internal server
    issue. In that case, wait a few minutes and try again.</p>

  </div>

  <div class="col-sm-3"></div>

</div>

{% endblock %}
