### virtual environment stuff
.env
venv/*

### database
database/*
# migrations/*

### tests/development
app/jobs/lnq_test.py
app/jobs/dep/*
tests/*
# !tests/test*.py

app/main/dep/*
app/templates/t_metrics.html

#### scheduler
var/celery/celerybeat-scheduler
var/redis/*
!var/
!var/ghostdriver
!var/ghostdriver/ghostdriver.log
# Do not ignore redis configuration
!sched/var/redis/redis.conf

# Log files
*.log
out.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# development platform
dev/*
