### virtual environment stuff
.env
venv/*

### deprecated automation experiments
custom_queue.py
worker.py


### database
database/*
# migrations/*

tests/*
!tests/test*.py

app/main/dep/*
app/templates/t_metrics.html

#### var
var/redis/data

# Log files
out.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

