{% extends "base.html" %}

{% block title %}{{ super() }} Privacy{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">

  <div class="page-header">
    <h1>Privacy policy</h1>
  </div>

  <p><b style="font-size: 150%">LEXIS</b>: I don't use your Lexis login information for anything.
  Due to problems in implementation, I have <em>abandoned</em> Lexis credential encryption. So don't
  search for anything weird.
  </p>

  <p><b style="font-size: 150%">E-mail</b>: I <b>DO</b> collect the e-mail address you use to make
  your {{ config.PROJ_NAME }} account. But this information isn't shared or sold to any other
    organizations.</p>

  </div>

  <!-- just to tidy up-->
  <div class="col-sm-3"></div>
</div>

{% endblock %}
